#forgot_pw{
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    z-index: 0;
    opacity: 0;
    height: 100vh;
    overflow: hidden;
}

#forgot_pw:target{
    height: 550px;
    opacity: 1;
}

#forgot_pw{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 380px;
    max-height: 550px;
    background-color: white;
    box-sizing: border-box;
    border-radius:8px;
    .forgot__group {
        padding: 0 32px;
        &--close {
            position: absolute;
            right: 0.9rem;
            top: 0.5rem;
            font-size: 2rem;
            font-weight: 900;
            text-decoration: none;
            color: inherit;
        }
        &--logo {
            margin: 40px auto 20px ;
            width: 48px;
            height: 48px;
        }
        & p {
            height: 24px;
            left: 32px;
            right: 32px;
            top: 100px;
            font-family: Mulish;
            font-style: normal;
            font-weight: bold;
            font-size: 19px;
            line-height: 24px;
            text-align: center;
            letter-spacing: 0.4px;
            color: #A4A6B3;
            opacity: 0.7;
        }
        & h2 {
            height: 30px;
            left: 32px;
            right: 32px;
            top: 154px;
            font-family: Mulish;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 30px;
            text-align: center;
            letter-spacing: 0.3px;
            color: #252733;
            margin-top: 30px;
        }
        &--label {
            display: inline-block;
            margin-top: 70px;
            height: 16px;
            left: 0px;
            right: 0px;
            top: 0px;
            font-family: Mulish;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 0.3px;
            text-transform: uppercase;
            color: #9FA2B4;
        }
        &--input {
            display: inline-block;
            text-indent: 18px;
            width: 100%;
            height: 42px;
            background: #FCFDFE;
            border: 1px solid #F0F1F7;
            outline: none;
            border-radius: 8px;
            margin-top: 6px;
            margin-bottom: 65px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            &::-webkit-input-placeholder {
                font-family: Mulish;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.3px;
                color: rgb(180, 180, 180);
            }
            &::-moz-input-placeholder {
                font-family: Mulish;
                font-style: normal;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.3px;
                color: rgb(180, 180, 180);
            }  
        }
        &--button {
            display: inline-block;
            padding: 15px;
            font-size: 18px;
            text-align: center;
            border: 0;
            outline: none;
            width: 100%;
            border-radius:8px;
            background-color: $main-color;
            cursor: pointer;
            font-family: Mulish;
            font-style: normal;
            font-weight: 200;
            line-height: 20px;
            margin-top: 23px;
            color: #fff;
            margin-bottom: 158px;
            &:hover{
                background: linear-gradient($bg1-color, $bg2-color);
            }
        }
        
    }
}
